:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient
    (to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blaclColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardGB: rgb(225, 225, 235);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(22, 19, 19, 0.9);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 2px 5px 45px #000;
}
header .logo {
  color: var(--whiteColor);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
header .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  header header {
    border-radius: 0 0 50px 50px;
  }
  header .navBar {
    position: absolute;
    background-color: #fff;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -10rem;
    right: -50rem;
    padding: 1rem;
    z-index: 2000;
    box-shadow: 0 4px 8px #787878;
    transition: 0.8s ease-in-out;
    scale: 0.2;
  }
  header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
    -webkit-animation: ltr 1s linear;
            animation: ltr 1s linear;
  }
  @-webkit-keyframes ltr {
    0% {
      transform: translatex(50px);
    }
    100% {
      transform: translatex(0);
    }
  }
  @keyframes ltr {
    0% {
      transform: translatex(50px);
    }
    100% {
      transform: translatex(0);
    }
  }
  header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  header .navBar .navLists .navItem .navLink {
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.6s;
  }
  header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
    padding-left: 0.5rem;
  }
  header .navBar .navLists .btn {
    margin-top: 1.2rem;
  }
  header .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  header .navBar .closeNavBar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  header .navBar .closeNavBar:hover {
    color: var(--SecondaryColor);
  }
  header .activeNavbar {
    top: 7rem;
    left: 50%;
    transform: translate(-50%);
    scale: 1;
  }
}
header .toggleNavBar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
}
header .toggleNavBar .icon:hover {
  color: var(--SecondaryColor);
}

@media screen and (max-width: 768px) {
  header {
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width: 769px) {
  .toggleNavBar, .closeNavBar {
    display: none;
  }
  header {
    padding: 1.5rem 2rem;
    border-radius: 0 0 50px 50px;
  }
  header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    row-gap: 0.5rem;
  }
  header .navBar .navLists .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.5s ease;
  }
  header .navBar .navLists .navItem .navLink:hover, header .navBar .navLists .navItem .navLink:active {
    padding: 1.1rem;
    background: var(--PrimaryColor);
    box-shadow: 2px 10px 20px var(--blaclColor);
    border-radius: 15px 0 20px 0;
  }
  header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  header .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
}
@media screen and (min-width: 960px) {
  header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  header {
    padding: 1rem 8.5rem;
    border-radius: 0 0 500px 500px;
  }
}
.navItem {
  color: #fff;
}
/*# sourceMappingURL=navbar.css.map */